

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px; 
    padding: 100px;
    
    
}


.logo{
    display: flex;
    gap: 5px;
}


.links{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    
}

ul {

    list-style-type: none;
    margin: 0;   
    padding: 0;  
}


.links li a {
    color: black;
    text-decoration: none;

}

.button{
    display: flex;
    gap: 20px;
    
}

.button-2{
    width: 91px;
    height: 40px;
    border-radius: 6px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: #FFFFFF;
}

.login-1{
    font-weight: 500;
    font-size: 14px;
    color: #4CAF4F;
}

.nexcent{
    width: 111px;
    height: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: larger;
    
}


.hero{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #F5F7FA;
    
}

.text{
    color: #4D4D4D;
    font-weight: 500;
    font-style: semi bold;
    font-size: 64px;
    margin: 0 0 6px 0;
    font-family: inter, sans-serif;


}

.text-2{
    color: #4CAF4F;
    font-weight: 500;
    font-style: semi bold;
    font-size: 64px;
    font-family: inter, san sans-serif;
}

.paragrah{
    color: gray;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    font-family: inter, sans-serif;
    margin-top: 15px; 
}



.reg{
    width: 128px;
    height: 52px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
}

.text-3{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paragrah-client{
    margin-top: 0; 
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-style: regular;
    color: #717171;
}


.client{
    margin: 0 0 6px;
    font-weight: 600;
    font-size: 36px;
    font-style: semi bold;
    color: #4D4D4D;
}

.client-section{
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    margin-bottom: 10px;

    
}

.text-4{
    font-weight: 600;
    font-size: 36px;
    font-style: semi bold;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 28px; 
}



.paragrah-community{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -6px; 
}


.box{
    display: flex;
    align-items: stretch;
    justify-content: center; 
    gap: 56px; 
    text-align: center;
    margin-top: 48px;
}


.box-1{
    background-color: #FFFFFF;
    box-shadow: #ABBED133;
    flex: 0 0 30%;
    padding: 20px;
}
.box-2{
    background-color: #FFFFFF;
    box-shadow: #ABBED133;
    flex: 0 0 30%;
    padding: 20px;
}

.box-3{
    background-color: #FFFFFF;
    box-shadow: #ABBED133;
    flex: 0 0 30%;
    padding: 20px;
}


.member{
    font-weight: 700;
    font-size: 28px;
    font-style: bold;
    color: #4D4D4D;
}

.paragrah-member{
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    color: #717171;
}


.national{
    font-weight: 700;
    font-size: 28px;
    font-style: bold;
    color: #4D4D4D;

}

.paragrah-national{
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    color: #717171;
}

.club{
    font-weight: 700;
    font-size: 28px;
    font-style: bold;
    color: #4D4D4D;
}

.paragrah-club{
    font-weight: 400;
    font-size: 14px;
    font-style: regular;
    color: #717171;
}


   


