body{
    border: 1px red solid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
   
 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
}


.logo{
    display: flex;
    gap: 5px;
}


.links{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    
}

ul {

    list-style-type: none;
    margin: 0;   
    padding: 0;  
}


.links li a {
    color: black;
    text-decoration: none;

}

.button{
    display: flex;
    gap: 20px;
    
}

.button-2{
    width: 91px;
    height: 40px;
    border-radius: 6px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: #FFFFFF;
}

.login-1{
    font-weight: 500;
    font-size: 14px;
    color: #4CAF4F;
}

.nexcent{
    width: 111px;
    height: 20px;
    opacity: 1;
    font-weight: bold;
    font-size: larger;
}


